<div class="panel-body">
	<%= form_for(@pin) do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, placeholder: "San Francisco, Taipei, London, etc", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :country %>
    <%= f.text_field :country, placeholder: "United States, Taiwan, UK, etc", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :category %>
    <%= f.select(:category, options_for_select([['My Passport', 'passport'], ['Future Destination', 'future']], "passport"), {}, {class: "form-control"}) %>
  </div>
	<div class="form-group">
		<%= f.label :cover, "Upload a TravelPin Cover" %>
		<%= f.file_field :cover, class: "form-control" %>
	</div>
  <div class="form-group">
  	<%= f.label :cover_remote_url, "Upload TravelPin Cover From a Website" %>
  	<%= f.text_field :cover_remote_url, placeholder: "http://prettypic.com/mountain.jpg", class: "form-control" %>
	</div>
	<div class="form-group">
  	<%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
	</div>
</div>

