<div class="box">
	<% if pin.user == current_user %>
		<div class="move_button">
			<%= render 'pins/move_button' %>
		</div>
	<% else %>
		<div class="add_button">
			<%= render 'pins/add_button' %>
		</div>
		<button class="btn btn-danger like_button">Like</button>
	<% end %>
	<a href="#<%= pin.id %>" class="modal_image" data-toggle="modal"><%= image_tag pin.image(:medium) %></a>
  <p class="description pin_text"><%= pin.descriptions %></p>
  <hr style="margin: 10px"></hr>
  <p class="pin_text"><strong>Posted by <%= link_to pin.user.username, pin.user, class: "pin_link" %></strong></p>
	<% if (current_user == pin.user) || (current_user.admin) %>
	  <p class="pin_text">
	  	<%= link_to 'Edit', edit_pin_path(pin) %>
	  	<%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
	<% end %>
</div>

<div id="<%= pin.id %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="#myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  	<div class="modal-content">
  		<div class="modal-header">
	    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    	<% if current_user == pin.user %>
					<%= render 'pins/move_button' %>
				<% else %>
					<%= render 'pins/add_button' %>
					<button class="btn btn-large btn-danger">Like</button>
				<% end %>
		  </div>
		  <div class="modal-body">
		    <%= image_tag pin.image, class: "img-responsive" %>
				<p><strong>Descriptions:</strong> <%= pin.descriptions %></p>
				<p><strong>Posted by:</strong> <%= pin.user.username %></p>
		  </div>
		  <div class="modal-footer">
		  	<% if ((pin.user == current_user) || (current_user.admin)) %>
					<%= link_to 'Edit', edit_pin_path(pin), class: "btn btn-warning" %>
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<% else %>
					<%= render 'pins/add_button' %>
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<% end %>
		  </div>
  	</div>
  </div>
</div>