<div class="box">
	<% if pin.user == current_user %>
		<div class="move_button">
			<%= render 'pins/move_button' %>
		</div>
	<% else %>
		<div class="add_button">
			<%= render 'pins/add_button' %>
		</div>
		<button class="btn btn-danger like_button">Like</button>
	<% end %>
	<a href="#<%= pin.id %>" class="modal_image" data-toggle="modal"><%= image_tag pin.cover(:medium), class: "book-image" %></a>
  <p class="description pin_text"><%= pin.city %>, <%= pin.country %></p>
  <hr style="margin: 10px"></hr>
  <p class="pin_text"><strong>Posted by <%= link_to pin.user.username, pin.user, class: "pin_link" %></strong></p>
	<% if (current_user == pin.user) || (current_user.admin) %>
	  <p class="pin_text">
	  	<%= link_to 'Edit', edit_pin_path(pin) %>
    </p>
	<% end %>
</div>

<div id="<%= pin.id %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="#myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  	<div class="modal-content">
  		<div class="modal-header">
	    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h2 class="text-center"><%= pin.city %>, <%= pin.country %></h2>
		  </div>
		  <div class="modal-body">
		  	<ul class="nav nav-tabs nav-justified book-profile" id="bookTab">
					<li class="active"><a href="#photo" data-toggle="tab">Photo Album</a></li>
					<% if (current_user == pin.user) || (current_user.admin) %>
						<li><a href="#diary" data-toggle="tab">Travel Diary</a></li>
					<% elsif (pin.diary.title != nil)|| (pin.diary.body != nil) %>
						<li><a href="#diary" data-toggle="tab">Travel Diary</a></li>
					<% end %>
					<li><a href="#recommendations" data-toggle="tab">Tips & Tricks</a></li>
				</ul>	
				<div class="tab-content">
				  <div class="tab-pane fade active in" id="photo">
				  	<%= image_tag pin.cover, class: "img-responsive" %>
				  </div>
				  <div class="tab-pane fade" id="diary">
				  	<div class="panel panel-info">
				  		<div class="panel-heading">
				  			<% if ((pin.diary.title.nil?) && (pin.diary.body.nil?)) %>
						  		<h2 class="text-center">Start Writing!</h2>
						  	<% else %>
						  		<h2 class="text-center"><%= pin.diary.title %></h3>
						  	<% end %>
				  		</div>
				  		<div class="panel-body">
				  			<% if ((pin.diary.title.nil?) && (pin.diary.body.nil?)) %>
						  		<h5 class="text-center">Don't ever forget a fun trip by writing it down!</h5>
						  	<% else %>
						  		<%= pin.diary.body.html_safe %>
						  	<% end %>
				  		</div>
				  		<div class="panel-footer">
				  			<% if ((pin.diary.title.nil?) && (pin.diary.body.nil?)) %>
						  		<%= link_to 'New', edit_pin_diary_path(pin, pin.diary), class: "btn btn-primary btn-lg link-center" %>
						  	<% else %>
						  		<%= link_to 'Edit', edit_pin_diary_path(pin, pin.diary), class: "btn btn-success btn-lg link-center" %>
						  	<% end %>
				  		</div>
				  	</div>
				  </div>
				  <div class="tab-pane fade" id="recommendations">
				  	<h2>Day 1:</h2><br/><br/>
				  	<h2>Day 2:</h2><br/><br/>
				  	<h2>Day 3:</h2><br/><br/>
				  </div>
				</div>
		  </div>
		  <div class="modal-footer">
		  	<h4 class="text-right"><strong>Posted by:</strong> <%= pin.user.username %></h4>
		  	<% if ((pin.user == current_user) || (current_user.admin)) %>
					<%= link_to 'Edit', edit_pin_path(pin), class: "btn btn-warning" %>
					<%= render 'pins/move_button' %>
					<button class="btn btn-default pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
				<% else %>
					<%= render 'pins/add_button' %>
					<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
				<% end %>
		  </div>
  	</div>
  </div>
</div>