<% provide(:title, 'The Pin') %>
<div class="container show_pin">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 well">
  		<%= image_tag @pin.cover, class: "img-responsive" %>
			<p><strong>Location: </strong><%= @pin.city %>, <%= @pin.country %></p>
			<p><strong>Pinned by: </strong><%= @pin.user.username %></p>
			<% if (current_user == @pin.user) || (current_user.admin) %>
				<%= link_to 'Edit', edit_pin_path(@pin) %> |
			<% end %>
			<%= link_to 'Your Profile', current_user %>
		</div>
	</div>
</div>