<% provide(:title, 'Your Profile') %>

<div class="profileheader">
	<%= image_tag @user.avatar.url(:thumb), class: "profileheader-image img-responsive" %>
		<h2><%= @user.first_name %> <%= @user.last_name %></h2>
</div>
<ul class="nav nav-tabs nav-justified user-profile" id="userTab">
	<li class="active"><a href="#passport" data-toggle="tab">My Passport</a></li>
	<li><a href="#travel_plans" data-toggle="tab">Travel Plans</a></li>
	<li><a href="#destination_wishlist" data-toggle="tab">Destination Wishlist</a></li>
</ul>	
<div class="tab-content">
  <div class="tab-pane fade active in" id="passport">
  	<div id="isotope-container">
		  <%= render @pins %>
		</div>
		<%= will_paginate @pins %>
  </div>
  <div class="tab-pane fade" id="travel_plans">
  	<div id="isotope-container">
		  <%= render @pins %>
		</div>
		<%= will_paginate @pins %>
  </div>
  <div class="tab-pane fade" id="destination_wishlist">
  	<div id="isotope-container">
		  <%= render @pins %>
		</div>
		<%= will_paginate @pins %>
  </div>
</div>

